.no-margin { margin:0 !important; }

.meter {
	color: white;
	padding: 2px 4px 0;
}

/*/////////////////////////////////////////////////
Hero
/////////////////////////////////////////////////*/

#hero {
	background-color: #8FA;
	margin: 3em 0;
}

/*/////////////////////////////////////////////////
Project Content
/////////////////////////////////////////////////*/

#project_content {
	.column, .columns {
		font-size:.8em;
	}
}

/*/////////////////////////////////////////////////
Project Rating
/////////////////////////////////////////////////*/

.m-rating {
	.m-rating-rating {

	}
}